/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', "Sans-Serif";
    line-height: 1.6;
    color: #222;
}

html {
    scroll-behavior: smooth; /* Habilita el desplazamiento suave */
}

/* Boton WhatsApp */
.botonWpp{
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #3A7CA5    ;
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    transition: transform 0.3s; /* Añade una transición suave */
    font-size: 42px;
}
.botonWpp:hover {
    transform: scale(1.1); /* Efecto de agrandamiento al pasar el ratón */
    background-color: #2F6690 ;
}


/* Contenedor general */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header Section */
.header-section {
    background-color: #fff;
    padding: 15px 0;
    border-bottom: 1px solid #dddddd;
    position: sticky;
    z-index: 1000;
    top: 0px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content .a{
    display: inline-block; /* Limita el área clickeable solo al tamaño de la imagen */
    text-decoration: none; /* Elimina el subrayado (aunque no es necesario para una imagen, es una buena práctica) */
}

.logo {
    display: block; /* Asegura que la imagen ocupe todo el espacio dentro del enlace */
    height: auto; 
    display: block;
    width: 160px;
    margin-left: 70px ;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
    color: #2F6690;
}

.nav-links a {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links button{
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    padding: 8px 10px;
    border: none;
    font-size: 1rem;
    margin-left: 20px;
    border-radius: 30px;
}

.nav-links a:hover {
    color: #3A7CA5 ;
}

/* Hero Section */
.hero-section {
    font-family: "Montserrat", sans-serif;
    background: url('../images/hero-image4.jpg') no-repeat center center/cover;
    color: #fff;
    padding: 60px 0;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
}

.hero-title {
    font-size: 2.6rem;
    margin-bottom: 10px;
}

.hero-subtitle {
    font-size: 1.8rem;
    margin-bottom: 50px;
}

/* Ajustes del video */
.vsl-container {
    position: relative;
    width: 100%;
    max-width: 900px;
    height: 500px; /* Altura fija para todo el contenedor */
    overflow: hidden; /* Para recortar cualquier exceso */
}

.video-poster, .vsl {
    width: 100%;
    height: 100%; /* Ambas tendrán la misma altura */
    object-fit: cover; /* Esto se asegura que la imagen y el video se ajusten al contenedor */
    display: block;
}

.custom-play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background-color: rgba(58, 124, 165, 0.8);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.custom-play-button::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 20px solid white;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.hero-p{
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    margin: 45px 0 30px 0;
}

.cta-button {
    padding: 10px 20px;
    background-color: #3A7CA5 /* 0056b3 */  ;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.3rem;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.cta-button:hover{
    transform: scale(1.005); /* Efecto de agrandamiento al pasar el ratón */
    background-color: #2F6690 ;
}

/* About Section */
.about-section {
    padding: 75px 0;
    text-align: center;
}

.about-section h2 {
    font-size: 2.4rem;
    margin-bottom: 50px;
    color: #111;
}

.about-section p {
    font-size: 1.2rem;
    margin-bottom: 65px;
}

.about-section .about-copys{
    padding: 0 4% 0;
    text-align: start;
    margin-bottom: 60px;
}

.about-section .about-copys .about-copy p{
    margin-bottom: 25px;
}

.ab-span{
    font-weight: bold;
}

.about-sec2{
    margin: 100px 0;
}
.about-sec2 h2{
    font-size: 2.6rem;
}

.about-sec2 p{
    font-size: 1.4rem;
}

.about-sec2 span{
    text-decoration: underline;
    text-decoration-color: #2F6690;
}


.oferta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en varias filas */
}

.punto {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3A7CA5;
    font-size: 1.2rem;
    font-weight: bold;
    width: calc(25% - 10px); /* Ajusta el ancho para que haya 4 elementos por fila */
    margin-bottom: 20px; /* Espacio entre filas */
}

/* Ajusta el estilo del círculo */
.punto .circulo {
    font-family: "Montserrat";
    font-weight: bold;
    background-color: #3A7CA5;
    width: 60px;
    height: 60px;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.punto .desc-circ {
    width: 55%;
    font-size: 1rem;
}

.about-parrafo{
    margin-top: 75px;
    display: flex;
    justify-content: center;
}
.about-parrafo p{
    color: #111 ;
    width: 60%;
    font-size: 1.3rem;
    font-style: oblique;
    font-weight: bold;
}

/* Services Section */
.services-section {
    padding: 60px 0;
    text-align: center;
}

.services-section p{
    font-size: 1.4rem;
}

.services-section h2 {
    font-size: 2.6rem;
    margin-bottom: 30px;
}

.services-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.service-item {
    flex: 1;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;

}

.serv-tit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 500px;

}

.serv-tit .imagen{    
    width: 450px;
    height: 400px;
    margin-top: -40px;
    padding-right: 50px;
}

.serv-tit .imagen img{
    width: 400px;
    height: 400px;
    border-radius: 5px;
}

.serv-tit .titulo{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    margin-bottom: -40px;
    padding-right: 40px;
}

.serv-tit .titulo .estrategias {
    position: relative;
    display: inline-block;
}

.serv-tit .titulo .estrategias::after {
    content: "";
    position: absolute;
    left: 35px;
    bottom: 7px;
    width: 80%;
    height: 15px; /* Puedes ajustar el grosor del subrayado */
    background-color: #2F6690; /* Color del subrayado */
    z-index: -1; /* Para asegurarte de que quede detrás del texto */
}

.services-grid .cta-button{
    margin-top: 30px;
}

.titulo .amplify{
    font-style: italic;
    color: #2F6690;
}


.service-item .punto{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 10%;
    padding-right: 40px;
}
.service-item .circulo{
    font-style: italic;
    color: #3A7CA5;
    border: 0px solid #3A7CA5;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0);

}

.service-copy{
    width: 100%;
    text-align: start;
}

.service-item .servTit {
    font-size: 1.2rem;
    color: #111;
    font-weight: bold;
}

.service-item p {
    font-size: 1.1rem;
}


/* Biografia Section */

.biografia-section .amplify{
    text-decoration: underline;
    text-decoration-color: #2F6690;
}

.biografia-section h2{
    padding: 60px 0;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'POPPINS', sans-serif;
    color: #222;
    margin-top: 20px;
}

.biografia-section .desc{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.biografia-section .desc-copy{
    width: 100%;
    font-size: 1.2rem;
}

.desc-copy h3{
    margin-bottom: 10px;
}


.biografia-section .desc-ph{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}

.foto-container{
    position: relative;
    display: inline-block;
}

.foto-container img {
    display: block;
    max-width: 250px;
    height: auto;
    position: relative;
    z-index: 1; /* Asegura que la imagen esté sobre la "caja" */
}

.box-ph {
    background-color: #2F6690; /* Color de la "caja" */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 8px; /* Desplazamiento hacia abajo */
    left: 8px; /* Desplazamiento hacia la derecha */
    z-index: -1; /* Coloca la "caja" detrás de la imagen */
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2); /* Sombra opcional para la "caja" */
}

.sigueme{
    text-decoration: none;
    margin: 90px;
    display: flex;
    flex-direction: row;
    color: #2F6690;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    justify-content: center;
    
}

.sigueme i{
    font-size: 60px;
}
.sigueme p{
    padding-top: 6px;
    text-transform: uppercase;
    text-align: left;
    font-size: 14px;
}

.sigueme span{
    font-weight: 700;
    font-size: 22px;
}


/* Contact Section */
.contact-section {
    color: #111;
    padding: 60px 0;
    text-align: center;
    background-color: #f1f1f1;
    display: flex;

}


.contact-section h2 {
    font-size: 2.2rem;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
}

.contact-section .p1 {
    font-size: 1.6rem;
    margin: 10px;
}

.contact-section .p2{
    margin: 20px;
    font-size: 1.6rem;
    color: #2F6690;
}


/* Footer */
.footer-section {
    background-color: #2F6690  ;
    color: #fff;
    text-align: center;
    padding: 50px 0 20px 0;
    height: 100%;
}

footer .footer-pt1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 120px;
    padding-bottom: 60px;
    border-bottom: 0.1px solid rgba(255, 255, 255, 0.479);
}

.footer-pt1 .contacto{
    text-align: start;
    width: 100%;
    
}
.footer-pt1 .contacto span{
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 30px;
}

.footer-pt1 .contacto i{
    font-size: 1.4rem;
    padding-right: 15px;
}

.footer-pt1 .contacto p{
    font-size: 1.1rem;
    margin: 0;
}

.footer-pt1 .contacto a{
    text-decoration:underline;
    color: white;
}

#redes a{
    text-decoration: none;
}

.derechos{
    margin-top: 20px;
    padding-bottom: 0px;
}

@media (max-width: 860px) {

/* Contenedor general */
.container {
    width: 95%;
    max-width: 1200px;
    margin: 10px;
}

/* Header Section */
.header-section {
    padding: 2px 0 0 0;
    border-bottom: 1px solid #f1f1f1;
    position: sticky;
    z-index: 1000;
    top: -1px;
}

.logo {
    width: 120px;
    margin-left: 0px ;
}

.nav-links .ahead{
    display: none;
}

.nav-links button{
    padding: 8px;
    font-size: 0.7rem;
    margin-left: 20px;
    border-radius: 50px;
}

.nav-links a:hover {
    color: #3A7CA5 ;
}

/* Hero Section */
.hero-section {
    padding: 50px 0;
}

.hero-section .container{
    width: 99%;
}

.hero-title {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.hero-subtitle {
    font-size: 0.9rem;
    margin-bottom: 40px;
}

.hero-p{
    font-size: 0.9rem;
    margin: 40px 0 30px 0;
}

.hero-section .cta-button {
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 1.1rem;
    background-color: #2F6690;

}

/* About Section */
.about-section {
    padding: 50px 0;
}

.about-section h2 {
    font-size: 1.8rem;
    margin-bottom: 40px;
}

.about-section .container{
    width: 95%;
    padding: 0px;
}

.about-section p {
    font-size: 0.9rem;
}

.about-section .about-copys{
    padding: 0px;
    text-align: start;
    margin-bottom: 60px;
}

.about-section .about-copys .about-copy p{
    margin-bottom: 20px;
}


.about-sec2{
    margin: 80px 0 60px 0;
}
.about-sec2 h2{
    font-size: 1.8rem;
}

.about-sec2 p{
    font-size: 1rem;
    margin-bottom: 20px;
}

.oferta {
    margin-top: 0px;
    justify-content: space-around; /* Espacia los elementos si es necesario */
}

.punto {
    width: calc(50% - 10px); /* Ajusta el ancho para que haya 2 elementos por fila */
}

.punto .circulo{
    width: 50px;
    height: 50px;
    font-size: 1.6rem;
    margin-bottom: 15px;
}

.punto .desc-circ{
    width: 70%;
    font-size: 1rem;
    margin-bottom: 20px;
}

.about-parrafo{
    padding: 0px;
    margin-top: 70px;
    margin-bottom: 30px;
}
.about-parrafo p{
    width: 80%;
    font-size: 1rem;
    margin: 0px
}

.about-section .cta-button{
    font-size: 1rem;
    border-radius: 50px;
    padding: 10px 20px;
}

/* Services Section */
.services-section {
    padding: 0px 0;
    text-align: center;
}

.services-section p{
    font-size: 1rem;
    margin: 0px;
}

.services-section h2 {
    font-size: 1.8rem;
    margin-bottom: 30px;
}

.services-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.service-item {
    flex-direction: row;
    margin-bottom: 10px;
}

.serv-tit{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

.serv-tit .imagen{    
    width: 300px;
    height: 300px;
    margin-top: 0px;
    padding-right: 0px;
}

.serv-tit .imagen img{
    width: 300px;
    height: 300px;
    border-radius: 5px;
}

.serv-tit .titulo{
    width: 100%;
    font-size: 1rem;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 40px;
    padding-right: 0px;
}

.services-grid .cta-button{
    margin-top: 20px;
    font-size: 1rem;
    border-radius: 50px;
    padding: 10px 14px;
}

.service-item .punto{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 10%;
    padding-right: 3px;
    margin: 0px;
}
.service-item .circulo{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0);

}

.service-copy{
    width: 100%;
    text-align: start;
}

.service-item .servTit {
    font-size: 0.9rem;

}

.service-item p {
    font-size: 0.8rem;
}

/* Biografia Section */
.biografia-section h2{
    padding: 65px 0 50px 0;
    font-size: 1.8rem;
    margin: 0;
}

.biografia-section .desc{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}

.biografia-section .desc-copy{
    width: 100%;
    font-size: 0.9rem;
}


.biografia-section .desc-ph{
    width: 70%;
}

.sigueme{
    text-decoration: none;
    margin: 40px;
    display: flex;
    flex-direction: row;
    color: #2F6690;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    justify-content: center;
}

.sigueme i{
    font-size: 60px;
}
.sigueme p{
    padding-top: 6px;
    text-transform: uppercase;
    text-align: left;
    font-size: 0.8rem;
}

.sigueme span{
    font-weight: 700;
    font-size: 1.3rem;
}

/* Contact Section */
.contact-section {
    padding: 50px 0;
}

.contact-section h2 {
    font-size: 1.3rem;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
}

.contact-section .p2{
    margin: 20px 0;
    font-size: 1.1rem;
}

.contact-section .cta-button{
    font-size: 1rem;
    border-radius: 50px;
    padding: 10px 30px;
}

/* Footer */
.footer-section {
    background-color: #2F6690  ;
    color: #fff;
    text-align: center;
    padding: 50px 0 20px 0;
    height: 100%;
}

footer .footer-pt1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: none;
}

.footer-pt1 .contacto{
    text-align: center;
    width: 100%;
    
}
.footer-pt1 .contacto span{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 30px;
}

.footer-pt1 .contacto i{
    font-size: 1.2rem;
    padding-right: 10px;
}

.footer-pt1 .contacto p{
    font-size: 1rem;
    margin: 0;
}

.footer-pt1 .contacto a{
    text-decoration:underline;
    color: white;
}

#redes a{
    text-decoration: none;
}

.derechos{
    margin-top: 20px;
    padding-bottom: 0px;
}
}

/* Ajustes para pantallas más pequeñas */
@media (max-width: 768px) {
    .vsl-container {
        height: 300px; /* Altura reducida para pantallas más pequeñas */
    }

    .custom-play-button {
        width: 60px; /* Tamaño reducido del botón de play */
        height: 60px;
    }

    .custom-play-button::before {
        border-left: 15px solid white;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
    }
}

/* Ajustes para pantallas aún más pequeñas, como móviles */
@media (max-width: 480px) {
    .vsl-container {
        height: 200px; /* Altura aún más reducida para móviles */
    }

    .custom-play-button {
        width: 50px; /* Tamaño aún más reducido del botón de play */
        height: 50px;
    }

    .custom-play-button::before {
        border-left: 12px solid white;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
    }
}