<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendar Reunion con Amplify Visions</title>
    <link rel="stylesheet" href="../css/agendar.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.1.0/css/boxicons.min.css">

</head>
<body>
    <!-- Header -->
    <header class="header-section" id="header-section">
        <div class="container">
            <div class="header-content">
                <a href="https://amplifyvision.com.ar/"><img src="../images/logo.png" alt="Logo" class="logo"></a>
                <nav class="nav-links">
                    <a href="https://amplifyvision.com.ar/">Volver al inicio</a>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <section class="titulo">
            <div class="container">
                <h1>Programa tu reunion!</h1>

            </div>
        </section>
        
<!-- Calendly inline widget begin -->
    <div class="calendly-inline-widget" data-url="https://calendly.com/agustinbarberi/sesion-estrategica-gratuita" style="min-width:320px;height:700px;"></div>
    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->

    </main>

        <!-- Footer -->
        <footer class="footer-section" id="footer">
            <div class="container">
                <div class="footer-pt1">
                    <div class="contacto" >
                        <span>Contacto</span>
                        <p><i class='bx bx-phone'></i>54 911 9876-5467<br> 
                        <i class='bx bx-envelope'></i>amplify.vision.ar@gmail.com<br>
                    </div>
                    <div class="contacto">
                        <span>Siguenos</span><p>
                            <i class='bx bxl-instagram' ></i>amplify.visions<br>
                            <i class='bx bxl-linkedin' ></i>Amplify-Visions</p>
                    </div>
                    <div class="contacto">
                        <span>Navegación</span>
                        <a href="#intro"><p>Inicio</p></a>
                        <a href="#services"><p>Servicios</p></a>
                        <a href="#contact"><p>Contacto</p></a>
                    </div>
                </div>
                <p class="derechos">&copy; 2024 Amplify Visions, Todos los derechos reservados.</p>
            </div>
        </footer>

</body>
</html>